In [1]:
from sqlalchemy import create_engine


engine = create_engine('mysql+pyodbc://telecom')
%load_ext sql
%sql engine
%config SqlMagic.autopandas = True

Found pyproject.toml from '/Users/jacky/github/telecom'

In [2]:
%sql SHOW tables

Running query in 'mysql+pyodbc://telecom'

10 rows affected.

            Tables_in_telecom
0                    cinfo_xy
1         sample_sight_201308
2          sample_user_201308
3  serv_acct_item_0838_201308
4  serv_acct_item_0838_201406
5     tb_asz_cdma_0838_201308
6     tb_asz_cdma_0838_201406
7                       tower
8                tower_center
9            tower_hot_201308

# Calling Records

In [5]:
%%sql

SELECT *
FROM serv_acct_item_0838_201308
WHERE CELL_ID <> -1
LIMIT 20;

Running query in 'mysql+pyodbc://telecom'

20 rows affected.

,SERV_ID,ACC_NBR,TRAFFIC,MONTH_NO,CHARGE,DURATION,ACCT_ITEM_TYPE_CODE,START_TIME,END_TIME,ETL_TYPE_ID,CALLED_AREA_CODE,CALLED_NBR,LAC,CELL_ID,RECV_TRAFFIC,CALLING_AREA_CODE,CALLING_NBR,SEND_TRAFFIC,BILLING_DURATION,CALLS
0,9xnmai86,aw0hksxi,10,201308,0,613,170211,2013/8/1 0:18:21,2013/8/1 0:28:34,22,-1,NotMobile_-1,-1,3EB2,7,-1,NotMobile_-1,3,0,1
1,akspi0d8,c6osl0c6,2,201308,0,633,170211,2013/8/1 0:18:23,2013/8/1 0:28:56,22,-1,NotMobile_-1,-1,392E,1,-1,NotMobile_-1,1,0,1
2,a2l9ai5k,kz343mhq,9,201308,0,975,170211,2013/8/1 0:13:19,2013/8/1 0:29:34,22,-1,NotMobile_-1,-1,3BFE,4,-1,NotMobile_-1,5,0,1
3,akhvdpw4,2ywcl06i,2,201308,0,795,170211,2013/8/1 0:14:50,2013/8/1 0:28:05,22,-1,NotMobile_-1,-1,3BA3,1,-1,NotMobile_-1,1,0,1
4,9q8ydxok,nbwk8li7,8,201308,0,683,170211,2013/8/1 0:17:24,2013/8/1 0:28:47,22,-1,NotMobile_-1,-1,351F,4,-1,NotMobile_-1,4,0,1
5,8ux8n63f,b3q9ksry,6,201308,0,730,170211,2013/8/1 0:15:32,2013/8/1 0:27:42,22,-1,NotMobile_-1,-1,61FD,2,-1,NotMobile_-1,4,0,1
6,92xtkl1f,6xzhjzx0,1801,201308,0,291,170211,2013/8/1 0:23:42,2013/8/1 0:28:33,22,-1,NotMobile_-1,-1,5ABE,1502,-1,NotMobile_-1,299,0,1
7,9i5deldl,hjkk8lkx,9,201308,0,699,170211,2013/8/1 0:18:35,2013/8/1 0:30:14,22,-1,NotMobile_-1,-1,3516,5,-1,NotMobile_-1,4,0,1
8,a57yay7b,8bssl0ss,4,201308,0,742,170211,2013/8/1 0:17:33,2013/8/1 0:29:55,22,-1,NotMobile_-1,-1,3A9C,2,-1,NotMobile_-1,2,0,1
9,8t219oal,3tqs8lf6,3,201308,0,717,170202,2013/8/1 0:17:07,2013/8/1 0:29:04,22,-1,NotMobile_-1,-1,0FFA,2,-1,NotMobile_-1,1,0,1
10,9v0m9ooh,d5963i3b,6,201308,0,800,170211,2013/8/1 0:15:52,2013/8/1 0:29:12,22,-1,NotMobile_-1,-1,3521,3,-1,NotMobile_-1,3,0,1
11,9ety2l9t,3at9k0ly,8,201308,0,1266,170202,2013/8/1 0:04:59,2013/8/1 0:26:05,22,-1,NotMobile_-1,-1,12CF,4,-1,NotMobile_-1,4,0,1
12,acv0fnkh,goq4l0f0,31,201308,0,66,170202,2013/8/1 0:24:26,2013/8/1 0:25:32,22,-1,NotMobile_-1,-1,3CDF,29,-1,NotMobile_-1,2,0,1
13,8vb7el7z,6m1w8lnk,7,201308,0,640,170211,2013/8/1 0:18:51,2013/8/1 0:29:31,22,-1,NotMobile_-1,-1,3557,4,-1,NotMobile_-1,3,0,1
14,9uvhai5l,mwj43mhr,17,201308,0,669,170211,2013/8/1 0:18:04,2013/8/1 0:29:13,22,-1,NotMobile_-1,-1,3609,2,-1,NotMobile_-1,15,0,1
15,92pqfvo8,41gk8lt2,10,201308,0,916,170211,2013/8/1 0:13:47,2013/8/1 0:29:03,22,-1,NotMobile_-1,-1,3C36,4,-1,NotMobile_-1,6,0,1
16,97ndifvi,75p9k0gg,240,201308,0,1607,170211,2013/8/1 0:05:03,2013/8/1 0:31:50,22,-1,NotMobile_-1,-1,0FA1,219,-1,NotMobile_-1,21,0,1
17,98c19ooa,hbus8lfd,2,201308,0,731,170211,2013/8/1 0:19:24,2013/8/1 0:31:35,22,-1,NotMobile_-1,-1,351A,1,-1,NotMobile_-1,1,0,1
18,8n1oi85w,96pc3n11,4077,201308,0,1012,170211,2013/8/1 0:14:07,2013/8/1 0:30:59,22,-1,NotMobile_-1,-1,3A91,3725,-1,NotMobile_-1,352,0,1
19,9xyx4xro,3lo1ksma,1441,201308,0,378,170211,2013/8/1 0:24:26,2013/8/1 0:30:44,22,-1,NotMobile_-1,-1,C7CA,1296,-1,NotMobile_-1,145,0,1

In [6]:
%%sql

SELECT *
FROM sample_sight_201308
LIMIT 20;

Running query in 'mysql+pyodbc://telecom'

20 rows affected.

,SERV_ID,ACC_NBR,MONTH_NO,DATE_TIME,LAC,CELL_ID,LON,LAT,X,Y,HOT_FLAG,HOT_MAIN_FLAG,HOT_OTHER_FLAG,ETL_TYPE_ID,CALLING_NBR,CALLED_NBR
0,9aqm8dgb,gh8w8ki0,201308,2013/8/1 1:09:03,00041,351D,104.265999,30.978901,429.884003,3428.870117,1,0,1,21,9pzs3exd,gh8w8ki0
1,a2fug2rm,ftik422s,201308,2013/8/1 0:59:15,00041,36B8,104.269997,30.977301,430.264008,3428.689941,0,0,0,21,ftik422s,931s2hft
2,a2fug2rm,ftik422s,201308,2013/8/1 1:00:19,00041,36B7,104.269997,30.977301,430.264008,3428.689941,0,0,0,21,ftik422s,931s2hft
3,a2fug2rm,ftik422s,201308,2013/8/1 0:56:47,00041,36B7,104.269997,30.977301,430.264008,3428.689941,0,0,0,21,ftik422s,931s2hft
4,a2fug2rm,ftik422s,201308,2013/8/1 1:05:35,00041,36B7,104.269997,30.977301,430.264008,3428.689941,0,0,0,21,ftik422s,931s2hft
5,8ze12dk9,2bek41ua,201308,2013/8/1 0:59:44,00041,35BC,104.167000,31.176800,420.591003,3450.879883,1,0,1,21,2bek41ua,9e148q1x
6,930x90g7,gh7a2sv0,201308,2013/8/1 1:05:42,00040,36A7,104.412003,31.120899,443.914001,3444.530029,1,1,0,21,gh7a2sv0,6jeg4fnk
7,a2fug2rm,ftik422s,201308,2013/8/1 1:01:21,00041,36B7,104.269997,30.977301,430.264008,3428.689941,0,0,0,21,ftik422s,931s2hft
8,a2fug2rm,ftik422s,201308,2013/8/1 1:04:31,00041,36B7,104.269997,30.977301,430.264008,3428.689941,0,0,0,21,ftik422s,931s2hft
9,a2fug2rm,ftik422s,201308,2013/8/1 1:05:20,00041,36B7,104.269997,30.977301,430.264008,3428.689941,0,0,0,21,ftik422s,931s2hft
10,a2fug2rm,ftik422s,201308,2013/8/1 0:58:02,00041,36B8,104.269997,30.977301,430.264008,3428.689941,0,0,0,21,ftik422s,931s2hft
11,a2fug2rm,ftik422s,201308,2013/8/1 1:03:06,00041,36B7,104.269997,30.977301,430.264008,3428.689941,0,0,0,21,ftik422s,931s2hft
12,a2fug2rm,ftik422s,201308,2013/8/1 1:04:08,00041,36B7,104.269997,30.977301,430.264008,3428.689941,0,0,0,21,ftik422s,931s2hft
13,al3vcv11,l7008k1e,201308,2013/8/1 1:11:00,00040,3C95,104.386002,31.136499,441.444000,3446.270020,1,1,0,21,3xwgfv86,l7008k1e
14,90dvb659,aejekft9,201308,2013/8/1 1:15:43,00041,3A43,104.269997,30.967699,430.256989,3427.620117,1,0,1,21,nfiom2az,aejekft9
15,8kstc1bg,am96kg1l,201308,2013/8/1 1:20:55,00041,3B14,104.204002,31.345699,424.252991,3469.580078,1,0,1,21,c3yjjzau,am96kg1l
16,930x90g7,gh7a2sv0,201308,2013/8/1 1:16:58,00040,36A6,104.412003,31.120899,443.914001,3444.530029,1,1,0,21,gh7a2sv0,6jeg4fnk
17,9ankklcl,a16k42gl,201308,2013/8/1 1:31:35,00040,34D1,104.403999,31.118900,443.149994,3444.310059,1,1,0,21,a16k42gl,j5ho67bd
18,9xtbkd5z,9z3ukft9,201308,2013/8/1 0:49:50,00041,3A43,104.269997,30.967699,430.256989,3427.620117,1,0,1,21,9z3ukft9,dma2kfcn
19,8nai2d0t,dma2kfcn,201308,2013/8/1 0:49:50,00041,357A,104.277000,30.973000,430.929993,3428.209961,1,0,1,21,9z3ukft9,dma2kfcn